{{ partial "header.html" . }}
{{ $title := .Params.alt_title }}
{{ partial "multi-title.html" $title }}
<article id="left-column">
  {{ .Content }}
  <ul>
  {{ range .Pages.ByTitle }}
    <li>
      <a href="{{ .Permalink }}">{{ .Params.title }}</a>
      {{ with .Params.date }}({{ .Format "2 Jan 2006"}}){{ end }}
    </li>
  {{ end }}
  </ul>
</article>
{{ partial "tips-sidebar.html" . }}
{{ partial "load-photoswipe.html" . }}
{{ partial "migrated-footer.html" . }}
{{ partial "footer.html" . }}