{{ partial "header.html" . }}
{{ $title := dict "title" (.Params.pagetitle | default .Title) "page" . }}
{{ partial "multi-title.html" $title }}
<article id="left-column">
  {{ partial "hike-crumbs" . }}
  <div class="post__content">
    {{ .Content }}
    {{ if .Params.lat }}
      {{ partial "include-map" .Params }}
      {{ i18n "mapNotes" | markdownify }}
    {{ end }}
    {{ $term := .Data.Term }}
    {{ $regions := where .Site.AllPages "Section" "region" }}
    {{ $sub_regions := where (where $regions "Params.parent" $term) "Lang" .Lang }}
    {{ range $sub_regions }}
      <h2 id="{{ .Data.Term }}">{{ .Title }}</h2>
      {{ range (where .Pages "Params.description" "ne" nil).ByTitle }}
        {{ partial "post-blurb.html" . }}
      {{ end }}
      {{ $short := where .Pages "Params.description" "eq" nil }}
      {{ $short := where $short "Params.Duration" "ne" nil }}
      {{ if $short }}
        <p>{{ i18n "hikeListRegionOther" }}</p>
        <ul>
        {{ range $short.ByTitle }}
          {{ partial "hike-line-details.html" . }}
        {{ end }}
        </ul>
      {{ end }}
    {{ end }}
    {{ $short := where .Pages "Params.description" "eq" nil }}
    {{ if len $short }}
      {{ $long := where .Pages "Params.description" "ne" nil }}
      {{ if len $long }}
        <h2 id="long">{{ i18n "hikeListDescription" }}</h2>
        {{ range $long.ByTitle }}
          {{ partial "post-blurb.html" . }}
        {{ end }}
        <h2 id="short">{{ i18n "hikeListRegionOther" }}</h2>
        <ul>
          {{ range $short.ByTitle }}
            {{ if .Params.Duration }}
              {{ partial "hike-line-details" . }}
            {{ end }}
          {{ end }}
        </ul>
      {{ else }}
        <h2 id="list">{{ i18n "hikeList" }}</h2>
        <ul>
          {{ range $short.ByTitle }}
            {{ if .Params.Duration }}
              {{ partial "hike-line-details" . }}
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
    {{ else }}
      {{ if $sub_regions }}
      <h2 id="list">{{ i18n "hikeListRegionOther" }}</h2>
      {{ end }}
      {{ range .Pages.ByTitle }}
        {{ partial "post-blurb.html" . }}
      {{ end }}
    {{ end }}
    {{ if .Params.upcoming }}
      <h2 id="#soon">{{ i18n "moreToCome" }}</h2>
      <ul>
        {{ range .Params.upcoming }}
          {{ if in (printf "%T" .) "map" }}
            {{ if (index . "title") }}
        <li>{{ index . "title" }}</li>
            {{ end }}
          {{ else }}
        <li>{{ . }}</li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </div>
</article>
{{ partial "hikes-sidebar.html" . }}
{{ partial "footer.html" . }}