{{ partial "header.html" . }}
{{ $title := dict "title" (.Params.pagetitle | default .Title) "page" . }}
{{ partial "multi-title.html" $title }}
<article id="left-column">
  {{ partial "hike-crumbs" . }}
  <div class="post__content">
    {{ .Content }}
    {{ if .Params.lat }}
      {{ partial "include-map" .Params }}
    {{ end }}
    {{ $short := where .Pages "Params.description" "eq" nil }}
    {{ if len $short }}
      {{ $long := where .Pages "Params.description" "ne" nil }}
      {{ if len $long }}
        <h2>{{ i18n "hikeListDescription" }}</h2>
        {{ range $long.ByTitle }}
          {{ partial "post-blurb.html" . }}
        {{ end }}
        <h2>{{ i18n "hikeListRegionOther" }}</h2>
        <ul>
          {{ range $short.ByTitle }}
            {{ if .Params.Duration }}
              {{ partial "hike-line-details" . }}
            {{ end }}
          {{ end }}
        </ul>
      {{ else }}
        <h2>{{ i18n "hikeList" }}</h2>
        <ul>
          {{ range $short.ByTitle }}
            {{ if .Params.Duration }}
              {{ partial "hike-line-details" . }}
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
    {{ else }}
      {{ range .Pages.ByTitle }}
        {{ partial "post-blurb.html" . }}
      {{ end }}
    {{ end }}
  </div>
</article>
{{ partial "hikes-sidebar.html" . }}
{{ partial "footer.html" . }}