{{ partial "header.html" . }}
{{ $title := dict "title" .Title "page" . }}
{{ partial "multi-title.html" $title }}
<article id="left-column">
  {{ partial "hike-crumbs" . }}
  {{ if .Params.description }}
    {{ .Params.description | markdownify }}
    <h2>{{ i18n "hikeFacts" }}</h2>
  {{ else }}
    <h2 class="firstHeading">{{ i18n "hikeFacts" }}</h2>
  {{ end }}
  {{ .Scratch.Set "lead" "NOLEAD" }}
  {{ partial "hike-details" . }}
  {{ partial "hike-details-buttons" . }}
  {{ if .Pages }}
    <h3>Hikes to this peak</h3>
    {{ partial "multipath-hike-short" .}}
  {{ end }}
  {{ if .Content }}
    {{ .Content }}
  {{ else if eq .Lang "en" }}
    <p>We don't have an English description of this hike yet
      {{ range .Translations }}
        {{ if eq .Lang "sl" }}, but you might want to
      <a href="https://translate.google.com/translate?sl=sl&tl=en&u={{ .Permalink }}">
        try your luck with Google Translate</a>{{ end }}{{ end }}.
      Also, it would be great if you would take the hike and contribute a description. Thank you!</p>
  {{ end }}
  {{ partial "photo-gallery" . }}
  {{ partial "hike-views" . }}
  {{ partial "hike-map.html" . }}
  <div style='clear: both;'></div>
  <!-- comments -->
  <div class='post__meta'>
    {{ partial "post-share.html" . }}
    {{ with .Params.media }}
      <audio src="{{ . }}" controls="controls" preload="none"></audio>
    {{ end }}
    {{ partial "post-tags.html" . }}
  </div>
</article>
{{ partial "hikes-sidebar.html" . }}
{{ partial "load-photoswipe.html" . }}
{{ partial "footer.html" . }}
