{{ partial "header.html" . }}
{{ partial "multi-title.html" ( dict "title" (.Params.pagetitle | default (i18n "familytitle" . )) "page" . ) }}
<article id="left-column">
  {{ partial "flower-crumbs.html" . }}
  <div class="post__content">
    {{ if .Content }}
      {{ .Content }}
    {{ else }}
      <p>{{ i18n "familylist" . | safeHTML }}</p>
    {{ end }}
    <section class='flower__gallery'>
    {{ range (sort .Pages "Title") }}
      {{ partial "flower-item.html" . }}
    {{ end }}
    </section>
  </div>
</article>
{{ partial "flower-sidebar.html" . }}
{{ partial "footer.html" . }}