{{ partial "header.html" . }}
{{ $title := dict "title" .Title "page" . }}
{{ partial "multi-title.html" $title }}
<article id="left-column">
  {{ partial "hike-crumbs" . }}
  {{ .Content }}
  {{ partial "hike-map.html" . }}
  <div style='clear: both;'></div>
  <!-- comments -->
  <div class='post__meta'>
    {{ partial "post-share.html" . }}
    {{ with .Params.media }}
      <audio src="{{ . }}" controls="controls" preload="none"></audio>
    {{ end }}
    {{ partial "post-tags.html" . }}
  </div>
</article>
{{ partial "biking-sidebar.html" . }}
{{ partial "load-photoswipe.html" . }}
{{ partial "migrated-footer.html" . }}
{{ partial "footer.html" . }}
