<footer class='page-footer'>
  <div class='footer-main'>
    <div class='container'>
      <div class='page-footer__author'>
        <h3>The author</h3>
        <img alt='Ivan Pepelnjak Photo' src='https://www.ipspace.net/v3/images/picture_ivan_footer_big_screen.jpg'
          srcset='https://www.ipspace.net/v3/images/picture_ivan_footer_big_screen.jpg 1x, https://www.ipspace.net/v3/images/picture_ivan_footer_big_screen_2x.jpg 2x' />
        <div style='clear: both'>
          <a class='social-icon' href='https://www.ipspace.net/About'>
            <svg class='page-footer__icon'>
              <use xlink:href='#icon-person'></use>
            </svg>
          </a>
          <a class='social-icon' href='https://twitter.com/ioshints'>
            <svg class='page-footer__icon'>
              <use xlink:href='#icon-twitter'></use>
            </svg>
          </a>
          <a class='social-icon' href='https://www.linkedin.com/in/ivanpepelnjak/'>
            <svg class='page-footer__icon'>
              <use xlink:href='#icon-linkedin'></use>
            </svg>
          </a>
        </div>
      </div>
      <div class='page-footer__column-wrp'>
        <div class='page-footer__disclaimer'>
          Ivan Pepelnjak is an Independent Network Architect working at ipSpace.net AG.
          He likes hiking, climbing, and writing about lovely parts of Slovenia.
          <a href="https://www.ipspace.net/About_Ivan_Pepelnjak" class="page-footer__btn more-btn-sm white">Read more&hellip;</a>
        </div>
      </div>
    </div>
  </div>
  <div class='footer-copyright'>
    <div class='container'>
      <p class='footer-copyright__text'>
        Copyright 2002 - 2020 zaplana.net, 2020 - {{ .Site.LastChange.Format "2006" }} ipSpace.net AG
      </p>
    </div>
  </div>
</footer>