<div class="regbox decorated">
  <h3 class="sidebar__title">Pregledi</h3>
  <ul>
    <li><a href="/flowers">Galerija slovenskih rož</a></li>
    <li><a href="/flowers/list.html">Rastline v bazi &ndash; fotografije</a></li>
    <li><a href="/flowers/names.html">Vse rastline &ndash; slovenska imena</a></li>
    <li><a href="/flowers/latin.html">Vse rastline &ndash; latinska imena</a></li>
    <li><a href="/flowers/plants-families.html">Rastline urejene po družinah</a></li>
    <li><a href="/family/">Seznam družin</a></li>
    <li><a href="/flowers/genus/">Seznam rodov</a></li>
  </ul>
</div>
