<div class="regbox decorated">
  <h3 class="sidebar__title">Featured</h3>
  <ul>
    <li><a href="{{ $.Site.BaseURL}}en/flowers/early-spring">Early spring flowers</a></li>
    <li><a href="{{ $.Site.BaseURL}}en/flowers/family/orchidaceae">Slovenian orchids</a></li>
    <li><a href="{{ $.Site.BaseURL}}en/flowers/genus/lilium">Slovenian lilies</a></li>
  </ul>
</div>
<div class="regbox decorated">
  <h3 class="sidebar__title">Browse the Database</h3>
  <ul>
    <li><a href="{{ $.Site.BaseURL}}en/flowers">Slovenian wild flowers</a></li>
    <li><a href="{{ $.Site.BaseURL}}en/flowers/list.html">All plants in our database</a></li>
    <li><a href="{{ $.Site.BaseURL}}en/flowers/latin.html">Plants by latin names</a></li>
    <li><a href="{{ $.Site.BaseURL}}en/flowers/plants-families.html">Plants by families</a></li>
    <li><a href="{{ $.Site.BaseURL}}en/family/">List of families</a></li>
    <li><a href="{{ $.Site.BaseURL}}en/flowers/genus/">List of genera</a></li>
  </ul>
</div>
