<div class="regbox decorated">
  <h3 class="sidebar__title">Jagodni izbor</h3>
  <ul>
    <li><a href="{{ $.Site.BaseURL}}/flowers/pomladne-roze">Prvi znanilci pomladi</a></li>
    <li><a href="{{ $.Site.BaseURL}}/flowers/family/orchidaceae">Slovenske orhideje</a></li>
    <li><a href="{{ $.Site.BaseURL}}/flowers/genus/lilium">Slovenske lilije</a></li>
    <li><a href="{{ $.Site.BaseURL}}/flowers/genus/cirsium">Osati</a></li>
  </ul>
</div>

<div class="regbox decorated">
  <h3 class="sidebar__title">Pregledi</h3>
  <ul>
    <li><a href="{{ $.Site.BaseURL}}flowers">Galerija slovenskih rož</a></li>
    <li><a href="{{ $.Site.BaseURL}}flowers/list.html">Rastline v bazi &ndash; fotografije</a></li>
    <li><a href="{{ $.Site.BaseURL}}flowers/names.html">Vse rastline &ndash; slovenska imena</a></li>
    <li><a href="{{ $.Site.BaseURL}}flowers/latin.html">Vse rastline &ndash; latinska imena</a></li>
    <li><a href="{{ $.Site.BaseURL}}flowers/plants-families.html">Rastline urejene po družinah</a></li>
    <li><a href="{{ $.Site.BaseURL}}family/">Seznam družin</a></li>
    <li><a href="{{ $.Site.BaseURL}}flowers/genus/">Seznam rodov</a></li>
  </ul>
</div>
