{{ $pages := where (where $.Site.Pages "Section" "hikes") "Kind" "page" }}
<table class='fmtTable' id='sortTable'>
  <thead>
    <tr>
      <th>{{ i18n "hike" }}</th>
      <th class='right'>{{ replace (i18n "hikeAltitude") " " "<br>" | safeHTML }}</th>
      <th class='right'>{{ replace (i18n "hikeDuration") " " "<br>" | safeHTML }}</th>
      <th class='right'>{{ replace (i18n "hikeDelta") " " "<br>" | safeHTML }}</th>
    </tr>
  </thead>
  <tbody>
{{ range $pages.ByTitle }}
  {{ if .Params.duration }}
    <tr>
      <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
      <td data-order='{{ .Params.height }}' class='right'>{{ .Params.height }} m</td>
      <td data-order='{{ .Params.duration }}' class='right'>{{ .Params.duration }} h</td>
      <td data-order='{{ .Params.delta }}' class='right'>{{ .Params.delta }} m</td>
    </tr>
  {{ end }}
{{ end }}
  </tbody>
</table>
