{{ if and .Params.gpx .Params.gpx.center}}
  {{ partial "include-gpx-map" . }}
{{ else if .Params.map }}
  <h3>{{ i18n "mapRoute"}}</h3>
  <div style="position: relative;">
    <img src="{{ with .Params.map_path }}{{.}}{{ end }}mapgps.jpg">
    <span id="path" style="position: absolute; left: 0; top: 0; margin:0">
      <img src="{{ with .Params.map_path }}{{.}}{{ end }}path_1.gif">
    </span>
  </div>
  <p class='note'>{{ i18n "mapGPSTrack" }}</p>
  {{ if or .Params.alt (in .Params.image "alt.gif") }}
    <h3>{{ i18n "mapAltProfile" }}</h3>
    <img src="{{ with .Params.map_path }}{{.}}{{ end }}alt.gif">
    <p class='note'>{{ i18n "mapAltWarn" }}</p>
  {{ end }}
{{ end }}