<dl class='flower__data'>
  {{ with .Params.difficulty }}
    <dt>{{ i18n "hikeDifficulty" }}</dt>
    <dd>{{ . | markdownify }}</dd>
  {{ end }}
  {{ if .Params.height }}
    <dt>{{ i18n "hikeAltitude" }}</dt>
    <dd>{{ .Params.height }} m</dd>
  {{ else }}
    {{ $parent = .GetPage "../" }}
    {{ with $parent.Params.height }}
      <dt>{{ i18n "hikeAltitude" }}</dt>
      <dd>{{ .Params.height }}</dd>
    {{ end }}
  {{ end }}
  {{ if .Params.timing }}
    <dt>{{ i18n "hikeDuration" }}</dt>
    <dd>
      {{ range .Params.timing }}
        {{ . }}<br />
      {{ end}}
    </dd>
  {{ else }}
    {{ with .Params.duration }}
      <dt>{{ i18n "hikeDuration" }}</dt>
      <dd>{{ . }} h</dd>
    {{ end }}
  {{ end }}
  {{ with .Params.delta }}
    <dt>{{ i18n "hikeDelta" }}</dt>
    <dd>{{ . }} m</dd>
  {{ end }}
  {{ if or .Params.start .Params.peak }}
    <dt>{{ i18n "hikeCoordinates" }}</dt>
    <dd>
      {{ with .Params.start }}
      {{ i18n "hikeStart"}}: {{ . }}<br />
      {{ end }}
      {{ with .Params.peak }}
      {{ i18n "hikeEnd" }}: {{ . }}<br />
      {{ end }}
    </dd>
  {{ end }}
</dl>