<section class='post__blurb'>
  {{ if .Params.lead }}
    <div class='blurb__thumb'>
      <a href="{{ .Permalink }}">
        {{ with .Resources.GetMatch .Params.lead }}<img src="{{ .Permalink }}" alt="{{ .Title }}">{{ end }}
      </a>
    </div>
  {{ end }}
  <article class='post__content'>
    <h3 class='post__title' itemprop='name headline'>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ if .Draft }}(draft)
      {{ else }}
        {{ if eq .Section "biking"}}
          {{ if .Params.length }}
            ({{.Params.length}}&nbsp;km{{ with .Params.delta}},&nbsp;Δ={{ . }} m{{end}})
          {{ end }}
        {{ else }}
        {{ with .Params.height }}({{ . }}&nbsp;m){{ end }}
        {{ end }}
      {{ end }}
    </h3>
    {{ if .Params.intro }}
      <div>{{ .Params.intro | markdownify }}</div>
    {{ else }}
      {{ if .Params.description }}
        <div>{{ .Params.description | markdownify }}</div>
      {{ else }}
        {{ if .Summary }}
          <div>{{ .Summary }}</div>
          <div class='jump-link'><a href="{{ .Permalink }}">{{ i18n "more" }}</a></div>
        {{ end }}
      {{ end }}
    {{ end }}
  </article>
</section>
