<section class='post__blurb'>
  {{ if .Params.lead }}
    <div class='blurb__thumb'>
      <a href="{{ .Permalink }}">
        {{ with .Resources.GetMatch .Params.lead }}<img src="{{ .Permalink }}" alt="{{ .Title }}">{{ end }}
      </a>
    </div>
  {{ end }}
  <article class='post__content'>
    {{ partial "item-title-h3" . }}
    {{ if .Params.intro }}
      <div>{{ .Params.intro | markdownify }}</div>
    {{ else }}
      {{ if .Params.description }}
        <div>{{ .Params.description | markdownify }}</div>
      {{ else }}
        {{ if .Summary }}
          <div>{{ .Summary }}</div>
          <div class='jump-link'><a href="{{ .Permalink }}">{{ i18n "more" }}</a></div>
        {{ end }}
      {{ end }}
    {{ end }}
  </article>
</section>
