{{ partial "header.html" . }}
<article>
<img src="/images/Something_wrong.png" style="max-width: 20%; float: right">
<h2 class='firstHeading' style="clear: none">We cannot find the page you're looking for</h2>
<p>
  We haven't created this page yet (or maybe you mistyped the URL), or it got
  lost in migration. Start at the <a href="/" title="Main Page">home page</a>,
  search for the page you're looking for with the search tool in the top menu bar,
  or explore <a href="/en/hikes/">hikes around Slovenia</a>,
  <a href="/en/posts">tips & news</a>, or <a href="/en/flowers">gallery of Slovenian wild flowers</a>.
</p>
<h2 class='firstHeading'>Izgubili smo stran ki ste jo želeli obiskati</h2>
<p>
  Žal nam je. Stran ki ste jo želeli obiskati se je verjetno izgubila med selitvijo,
  ali pa je selitveni servis polomil povezave nanjo. Lahko jo poskusite poiskati
  (lupa zgoraj desno bo pomagala), ali pa pobrskajte po
  <a href="/hikes/">izletih po Sloveniji</a>,
  <a href="/posts">novicah in namigih</a>, ali <a href="/flowers">galeriji slovenskih rož</a>.
</p>
</article>
{{ partial "footer.html" . }}
