{{ partial "header.html" . }}
{{ $title := dict "title" (printf "%s (%s)" .Title .Params.latin) "page" . }}
{{ partial "multi-title.html" $title }}
<article id="left-column">
  {{ partial "flower-crumbs.html" . }}
  {{ if and .Content .Params.lead }}
    {{ with .Resources.GetMatch .Params.lead }}
      <div class="fancy-figure box caption-position-default flower__item flower__lead">
        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
          <div class="img">
            <img itemprop="thumbnail" src="{{ .Permalink }}">
          </div>
          <a href="{{ .Permalink }}" itemprop="contentUrl"></a>
        </figure>
      </div>
    {{ end }}
  {{ else }}
    {{ .Scratch.Set "lead" "NOLEAD" }}
  {{ end }}
  <dl class="flower__data">
    {{ $lang    := .Lang }}
    {{ $langmap := index $.Site.Data $lang }}
    {{ $family  := cond (ne $langmap.botany nil) $langmap.botany.family nil }}
    {{ $genus   := cond (ne $langmap.botany nil) $langmap.botany.genus nil }}
    {{ with .Params.family }}
      <dt>{{ i18n "flowerfamily" }}</dt>
      <dd>
        {{ $plink := ($.Site.GetPage (printf "/family/%s" .)).Permalink }}
        <a href="{{ $plink }}">{{ partial "lang-lookup" (dict "value" . "map" $family "lang" $lang) }}</a>
      </dd>
    {{ end }}
    {{ with .Params.order }}
      <dt>{{ i18n "flowergenus" }}</dt>
      <dd>
        {{ $plink := ($.Site.GetPage (printf "/order/%s" .)).Permalink }}
        <a href="{{ $plink }}">{{ partial "lang-lookup" (dict "value" . "map" $genus "lang" $lang) }}</a>
      </dd>
    {{ end }}
    {{ with .Params.author }}
      <dt>{{ i18n "photoAuthor" }}</dt>
      <dd>
        {{ . }}
      </dd>
    {{ end }}
    {{ partial (printf "flower-period-%s" .Lang) . }}
  </dl>
  {{ .Content }}
  {{ partial "photo-gallery" . }}
  <div style='clear: both;'></div>
  <!-- comments -->
  <div class='post__meta flower__meta'>
    {{ partial "post-share.html" . }}
    {{ with .Params.media }}
      <audio src="{{ . }}" controls="controls" preload="none"></audio>
    {{ end }}
    {{ partial "post-tags.html" . }}
  </div>
</article>
{{ partial "flower-sidebar.html" . }}
{{ partial "load-photoswipe.html" . }}
{{ partial "migrated-footer.html" . }}
{{ partial "footer.html" . }}
