{{ partial "header.html" . }}
{{ $title := dict "title" (printf "%s (%s)" .Title .Params.latin) "page" . }}
{{ partial "multi-title.html" $title }}
<article id="left-column">
  {{ if and .Content .Params.lead }}
    <span class="flower__item flower__lead">
    {{ with .Resources.GetMatch .Params.lead }}<img src="{{ .Permalink }}">{{ end }}
    </span>
  {{ else }}
    {{ .Scratch.Set "lead" "NOLEAD" }}
  {{ end }}
  <dl class="flower__data">
    {{ $family := $.Site.Data.botany.family }}
    {{ $genus  := $.Site.Data.botany.genus }}
    {{ $lang   := .Lang }}
    {{ with .Params.family }}
      <dt>{{ i18n "flowerfamily" }}</dt>
      <dd>
        {{ $plink := ($.Site.GetPage (printf "/family/%s" .)).Permalink }}
        <a href="{{ $plink }}">{{ partial "lang-lookup" (dict "value" . "map" $family "lang" $lang) }}</a>
      </dd>
    {{ end }}
    {{ with .Params.order }}
      <dt>{{ i18n "flowergenus" }}</dt>
      <dd>
        {{ $plink := ($.Site.GetPage (printf "/order/%s" .)).Permalink }}
        <a href="{{ $plink }}">{{ partial "lang-lookup" (dict "value" . "map" $genus "lang" $lang) }}</a>
      </dd>
    {{ end }}
    {{ partial (printf "flower-period-%s" .Lang) . }}
  </dl>
  {{ .Content }}
  {{ partial "photo-gallery" . }}
  <div style='clear: both;'></div>
  <!-- comments -->
  <div class='post__meta flower__meta'>
    {{ partial "post-share.html" . }}
    {{ with .Params.media }}
      <audio src="{{ . }}" controls="controls" preload="none"></audio>
    {{ end }}
    {{ partial "post-tags.html" . }}
  </div>
</article>
{{ partial "flower-sidebar.html" . }}
{{ partial "load-photoswipe.html" . }}
{{ partial "footer.html" . }}
