{{ if .Get "description" }}
{{ $.Page.Params.description | markdownify }}
{{ end }}
{{ if $.Page.Params.Lead }}
  {{ with $.Page.Resources.GetMatch $.Page.Params.Lead }}
    <div class="fancy-figure box caption-position-default">
      <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
        <div class="img" style="background-image: url('{{ .Permalink }}');">
          <img itemprop="thumbnail" src="{{ .Permalink }}">
        </div>
        <a href="{{ .Permalink }}" itemprop="contentUrl"></a>
      </figure>
    </div>
  {{ end }}
{{ end }}
<h3>{{ .Get "title" | default (i18n "hikeFacts") }}</h3>
{{ partial "hike-details" $.Page }}
{{ partial "hike-details-buttons" $.Page }}
