{{ $.Page.Scratch.Set "HikesListed" 1 }}
{{ range (where $.Page.Pages ".Params.description" "!=" nil).ByTitle }}
<section class='post__blurb'>
  {{ if .Params.multilead }}
    <div class='blurb__thumb'>
      {{ with .Resources.GetMatch .Params.multilead }}<img src="{{ .Permalink }}" alt="{{ .Title }}">{{ end }}
    </div>
  {{ end }}
  <article class='post__content'>
    <h3 class='post__title' itemprop='name headline'>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      (Δ={{ .Params.delta }}&nbsp;m,&nbsp;{{ .Params.duration }}&nbsp;{{ i18n "hour" (int .Params.duration) }})
    </h3>
    {{ with .Params.description }}
      <div>{{ . | markdownify }}</div>
    {{ end }}
  </article>
</section>
{{ end }}
{{ $nodesc := where $.Page.Pages ".Params.description" "==" nil }}
{{ if len $nodesc }}
<div>
<h3>{{ i18n "hikeNoDescription" }}</h3>
<ul>
  {{ range $nodesc.ByTitle }}
  <li><a href="{{ .Permalink }}">{{ .Title }}</a> ({{ .Params.delta }} m, {{ .Params.duration }} {{ i18n "hour" (int .Params.duration) }})</li>
  {{ end }}
</ul>
</div>
{{ end }}